[submodule "vendor/clj-stacktrace"]
	path = vendor/clj-stacktrace
	url = http://github.com/mmcgrana/clj-stacktrace.git
[submodule "vendor/clojure-http-client"]
	path = vendor/clojure-http-client
	url = git://github.com/technomancy/clojure-http-client.git
[submodule "vendor/compojure"]
	path = vendor/compojure
	url = http://github.com/weavejester/compojure.git
[submodule "vendor/debug"]
	path = vendor/debug
	url = git://gist.github.com/838147.git
[submodule "vendor/254110"]
	path = vendor/254110
	url = git://gist.github.com/254110.git
[submodule "vendor/252421"]
	path = vendor/252421
	url = git://gist.github.com/252421.git
[submodule "vendor/congomongo"]
	path = vendor/congomongo
	url = https://github.com/somnium/congomongo.git
