
.text-curly
  font-style: italic 
  font-family: Palatino, sans-serif

.text-default
  font: Verdana, Arial, sans-serif

@import utils

.common-wrapper
  float: none
  position: relative
  width: 95%
  margin: 0px auto
  top: 10px


#header
  text-align: center 

  #title-wrapper 
    @extend .common-wrapper

    #title
      position: relative
      float: left 
      @extend .text-curly 
      font-size: 3em
      font-weight: bold
      margin: 0 10
    #subtitle 
      top: 20px
      @extend .text-curly 
      float: left
      margin: 26 10 0 10
      float: left
      #subtitle-default
        float: left
        color: #666666
      #subtitle-black
        float: left
        font-weight: bold
  

    #account-chooser
      float: right
      margin: 10 0 0 0


.signup
  color: #686868


.signup-wrapper
  margin-top: 20px
  .signup-anchor
    text-decoration: none
    .buttons
      font-size: 13.2px

#legal
  @extend .common-wrapper
  @extend .text-curly 
  color: #666666


