
@import compass/layout
@import compass/layout/stretching
@import compass/css3/box
@import ceaser-easing
@import grid-coordinates

$left-col-width : 250px

$grid-columns: 12
$grid-gutter-width: 1px
@include grid-coordinates

@import utils


#left-col
  position: relative
  clear: left 
  width: 275px
  height: 200px
  overflow-x: hidden
  overflow-y: hidden

  //left: 0px
  //margin: 0 auto
  
#left-content
  //width: $left-col-width
  //+grid(5)
  //@extend .stretched
  +debugM
  position: relative 
  width: 600px
  //@include box-flex(1)
  //@include ceaser-transition(easeInOutExpo, width, 500ms, 0s)

#accounts , #account
  position: relative 
  float: left
  margin: 0px
  padding: 0px
  +debugM 


#left-toggler
  width: 20px
  height: 20px
  background-color: blue 
  float: right
  position: relative

#right-col
  //@extend .stretched
  +grid(9)
  +box-flex(5)
  position: relative
  background-color: #bbb

