
@import "compass/layout"
@import "compass/layout/stretching"
@import "compass/css3/box"
@import "ceaser-easing"
//@import "grid-coordinates"

$header-height : 50px
$footer-height : 150px
$left-col-width : 250px
@include sticky-footer( $footer-height , "#container", "#left-col", "#footer")

//$grid-columns: 12
//$grid-gutter-width: 1px
//@include grid-coordinates

@mixin debugM
  border-style: solid
  border-width: 1px 

.debug
  +debugM 

html, body
  min-height: 400px 
  min-width: 800px
  height: 100%

.header
  background: #999
  height: $header-height
  box-shadow: 0 4px 6px #543

.footer 
  background: #fdd 
  clear: both
  z-index: 10
  height: $footer-height

.container
  //+grid-container
  padding: 0px
  width: 100%
  min-height: 100% 
  margin: 0 auto -150px
  position: absolute

#main-content
  @include display-box
  @include box-orient(horizontal)
  +stretch( $offset-top : $header-height, $offset-bottom : $footer-height )

#left-col
  width: auto
  left: 0px
  float: left
  position: relative
  
#left-content
  //width: $left-col-width
  //+grid(5)
  @extend .stretched
  float: left
  //@include box-flex(1)
  //@include ceaser-transition(easeInOutExpo, width, 500ms, 0s)

#left-toggler
  width: 40px
  height: 40px
  background-color: blue 
  float: left
  position: relative

#right-col
  @extend .stretched
  //+grid(9)
  @include box-flex(5)
  position: relative
  width: auto

