/* line 10, /home/webkell/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, /home/webkell/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -150px;
}
/* line 18, /home/webkell/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #left-col {
  height: 150px;
}

/* line 20, /home/webkell/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 150px;
}

/* line 5, /home/webkell/Projects/bkell/public/templ/sass/_utils.sass */
.debug {
  border-style: solid;
  border-width: 1px;
}

/* line 8, /home/webkell/Projects/bkell/public/templ/sass/_utils.sass */
.text-curly, #header #title-wrapper #title, #header #title-wrapper #subtitle, #legal {
  font-style: italic;
  font-family: Palatino, sans-serif;
}

/* line 12, /home/webkell/Projects/bkell/public/templ/sass/_utils.sass */
.text-default {
  font: Verdana, Arial, sans-serif;
}

/* line 14, ../templ/sass/common.sass */
html, body {
  min-height: 400px;
  min-width: 800px;
  height: 100%;
}

/* line 19, ../templ/sass/common.sass */
.common-wrapper, #header #title-wrapper, #legal {
  float: none;
  position: relative;
  width: 95%;
  margin: 0px auto;
  top: 10px;
}

/* line 26, ../templ/sass/common.sass */
#header {
  background-color: #999999;
  height: 70px;
  z-index: 20;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 6px #554433;
}
/* line 40, ../templ/sass/common.sass */
#header #title-wrapper #title {
  position: relative;
  float: left;
  font-size: 3em;
  font-weight: bold;
  margin: 0 10;
}
/* line 47, ../templ/sass/common.sass */
#header #title-wrapper #subtitle {
  top: 20px;
  float: left;
  margin: 26 10 0 10;
  float: left;
}
/* line 53, ../templ/sass/common.sass */
#header #title-wrapper #subtitle #subtitle-default {
  float: left;
  color: #666666;
}
/* line 56, ../templ/sass/common.sass */
#header #title-wrapper #subtitle #subtitle-black {
  float: left;
  font-weight: bold;
}
/* line 61, ../templ/sass/common.sass */
#header #title-wrapper #account-chooser {
  float: right;
  margin: 10 0 0 0;
}

/* line 66, ../templ/sass/common.sass */
#footer {
  background-color: #999999;
  clear: both;
  z-index: 10;
  height: 150px;
}

/* line 72, ../templ/sass/common.sass */
.container {
  zoom: 1;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto -150px;
}
/* line 10, /home/webkell/.rvm/gems/ruby-1.9.2-p290/gems/grid-coordinates-1.2.0/stylesheets/modules/_bulletproof-clearfix.sass */
.container:before, .container:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 19, /home/webkell/.rvm/gems/ruby-1.9.2-p290/gems/grid-coordinates-1.2.0/stylesheets/modules/_bulletproof-clearfix.sass */
.container:after {
  clear: both;
}

/* line 79, ../templ/sass/common.sass */
#main-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  position: absolute;
  top: 70px;
  bottom: 150px;
  left: 0;
  right: 0;
  background-image: url("/images/paper_2.png");
}

/* line 84, ../templ/sass/common.sass */
#legal {
  color: #666666;
}
