/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -150px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #left-col {
  height: 150px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 150px;
}

/* line 5, ../sass/_utils.sass */
.debug {
  border-style: solid;
  border-width: 1px;
}

/* line 14, ../sass/common.sass */
html, body {
  min-height: 400px;
  min-width: 800px;
  height: 100%;
}

/* line 19, ../sass/common.sass */
#header {
  background-color: #999999;
  height: 70px;
  box-shadow: 0 4px 6px #554433;
}

/* line 24, ../sass/common.sass */
#footer {
  background-color: #999999;
  clear: both;
  z-index: 10;
  height: 150px;
}

/* line 30, ../sass/common.sass */
.container {
  zoom: 1;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto -150px;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/grid-coordinates-1.2.0/stylesheets/modules/_bulletproof-clearfix.sass */
.container:before, .container:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/grid-coordinates-1.2.0/stylesheets/modules/_bulletproof-clearfix.sass */
.container:after {
  clear: both;
}

/* line 37, ../sass/common.sass */
#main-content {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  position: absolute;
  top: 70px;
  bottom: 150px;
  left: 0;
  right: 0;
}
