/* line 5, /home/webkell/Projects/bkell/public/sass/_utils.sass */
.debug {
  border-style: solid;
  border-width: 1px;
}

/* line 7, ../sass/index.sass */
#loading-msg {
  display: block;
  color: #113366;
  padding: 2px;
  width: 60px;
  background-color: silver;
  text-align: center;
  left: -100;
}

/* line 16, ../sass/index.sass */
#title {
  border-style: solid;
  border-width: 1px;
  position: relative;
  top: 15px;
  left: 30px;
  width: 70%;
  height: 35px;
}

/* line 28, ../sass/index.sass */
.signup {
  color: #686868;
}

/* line 32, ../sass/index.sass */
.signup-wrapper {
  margin-top: 20px;
}
/* line 34, ../sass/index.sass */
.signup-wrapper .signup-anchor {
  text-decoration: none;
}
/* line 36, ../sass/index.sass */
.signup-wrapper .signup-anchor .buttons {
  font-size: 13.2px;
}

/* line 39, ../sass/index.sass */
#screenshots {
  float: left;
  margin-top: 60px;
}
/* line 43, ../sass/index.sass */
#screenshots .screenshot {
  height: 24%;
  width: 12%;
  float: left;
  border: 0px;
}
