/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -150px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #left-col {
  height: 150px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 150px;
}

/* line 21, ../sass/landing.sass */
.debug {
  border-style: solid;
  border-width: 1px;
}

/* line 24, ../sass/landing.sass */
html, body {
  min-height: 400px;
  min-width: 800px;
  height: 100%;
}

/* line 29, ../sass/landing.sass */
.header {
  background: #999999;
  height: 50px;
  box-shadow: 0 4px 6px #554433;
}

/* line 34, ../sass/landing.sass */
.footer {
  background: #ffdddd;
  clear: both;
  z-index: 10;
  height: 150px;
}

/* line 40, ../sass/landing.sass */
.container {
  padding: 0px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto -150px;
  position: absolute;
}

/* line 48, ../sass/landing.sass */
#main-content {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  position: absolute;
  top: 50px;
  bottom: 150px;
  left: 0;
  right: 0;
}

/* line 53, ../sass/landing.sass */
#left-col {
  width: auto;
  left: 0px;
  float: left;
  position: relative;
}

/* line 59, ../sass/landing.sass */
#left-content {
  float: left;
}

/* line 67, ../sass/landing.sass */
#left-toggler {
  width: 20px;
  height: 20px;
  background-color: blue;
  float: left;
  position: relative;
}

/* line 74, ../sass/landing.sass */
#right-col {
  -moz-box-flex: 5;
  -webkit-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
  position: static;
}

/* line 80, ../sass/landing.sass */
.clear-col {
  clear: both;
  height: 1px;
  margin-top: -1px;
  overflow: hidden;
}
