/* line 2, ../templ/sass/landing.sass */
.sidebar-nav-fixed {
  padding: 9px 0;
  position: fixed;
  left: 20px;
  top: 78px;
  width: 250px;
}

/* line 9, ../templ/sass/landing.sass */
.row-fluid > .span-fixed-sidebar {
  margin-left: 290px;
}
