[

 ;; account types
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.accountType/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.accountType/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}


 ;; counter weight
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.counterWeight/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.counterWeight/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}

 ;; currencies
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.currency/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.currency/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}

 ;; countries
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.country/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.country/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}


 ;; users
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.user/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "System ID for a given user"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's username"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's password"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/accountLevel
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A user's account level"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/defaultGroup
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A user can be a member of many groups. This points to the default one"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/firstName
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/lastName
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.user/country
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}


 ;; groups
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "System ID for a given group"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A group's name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group/owner
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The groups's owner"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The users belonging to this group"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group/defaultCurrency
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The groups's default currency"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group/bookkeeping
  :db/isComponent true
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The set of books belonging to this group"
  :db.install/_attribute :db.part/db}


 ;; bookkeeping
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group.books/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "System ID for a set of books"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books/accounts
  :db/isComponent true
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Refencing the set of accounts belonging to this bookkeeping"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books/journals
  :db/isComponent true
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Referencing the set of journals belonging to this bookkeeping"
  :db.install/_attribute :db.part/db}


 ;; accounts
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group.books.account/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "System ID for one book's, list of accounts"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.account/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.account/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.account/counterWeight
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}


 ;; journals
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group.books.journal/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "System ID for a set of book's journal"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Display name for this Journal"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal/entries
  :db/isComponent true
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Pointer to a list of journal entires"
  :db.install/_attribute :db.part/db}


 ;; entries
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group.books.journal.entry/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry/date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry/currency
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry/content
  :db/isComponent true
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc ""
  :db.install/_attribute :db.part/db}


 ;; debits / credits
 {:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group.books.journal.entry.content/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry.content/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry.content/amount
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry.content/account
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.journal.entry.content/currency
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}


;; assets
{:db/id #db/id [:db.part/db]
  :db/unique :db.unique/identity
  :db/ident :bookkeeping.group.books.asset/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.asset/externalid
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.asset/filename
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.asset/size
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :bookkeeping.group.books.asset/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
 :db.install/_attribute :db.part/db}


 ]
