{
 :bookkeeping {
               ;; account types
               :accountType [{:type :enum
                              :default :free
                              :enum {:ns :bookkeeping.accountType
                                     :values #{:asset :liability :revenue :expense}}}]

               ;; counter weight
               :counterWeight/id [{:type :enum
                                   :default :free
                                   :enum {:ns :bookkeeping.counterWeight
                                          :value #{:debit :credit}}}]

               ;; currencies
               :currency/id [{:unique :value
                              :required true}]

               :currency/name [{:unique :value
                                :required true}]

               ;; countries
               :country/id [{:unique :value
                             :required true}]

               :country/name [{:unique :value
                               :required true}]


               ;; users
               :user/id [{:type :uuid
                          :unique :value
                          :required true
                          :doc "System ID for a given user"}]

               :user/username [{:unique :value
                                :required true
                                :doc "A user's username"}]

               :user/password [{:doc "A user's password"}]

               ;;:user/accountLevel [{:type :ref :ref :doc "A user's account level"}]
               ;;:user/defaultGroup
               ;;[{:doc "A user can be a member of many groups. This points to the default one"}]

               :user/firstName [{}]

               :user/lastName [{}]

               :user/email [{}]

               :user/country [{:type :ref
                               :ref {:ns :bookkeeping/country}}]

               }
 }
