{
 :bookkeeping {
               ;; account types
               :accountType [{:type :enum
                              :default :free
                              :enum {:ns :bookkeeping.accountType
                                     :values #{:asset :liability :revenue :expense}}}]

               ;; counter weight
               :counterWeight [{:type :enum
                                :default :free
                                :enum {:ns :bookkeeping.counterWeight
                                       :value #{:debit :credit}}}]

               ;; currencies
               :currency/id [{:unique :value
                              :required true}]

               :currency/name [{:unique :value
                                :required true}]

               ;; countries
               :country/id [{:unique :value
                             :required true}]

               :country/name [{:unique :value
                               :required true}]

               ;; users
               :user/id [{:type :uuid
                          :unique :value
                          :required true
                          :doc "System ID for a given user"}]

               :user/username [{:unique :value
                                :required true
                                :doc "A user's username"}]

               :user/password [{:doc "A user's password"}]

               ;;:user/accountLevel [{:type :ref :ref :doc "A user's account level"}]

               :user/defaultGroup
               [{:type :ref
                 :ref {:ns :bookkeeping.group}
                 :required true
                 :doc "A user can be a member of many groups. This points to the default one"}]

               :user/firstName [{}]

               :user/lastName [{}]

               :user/email [{}]

               :user/country [{:type :ref
                               :ref {:ns :bookkeeping.country}}]

               ;; groups
               :group {
                       :id [{:type :uuid
                             :unique :value
                             :required true
                             :doc "System ID for a given group"}]

                       :name [{:unique :value
                               :required true
                               :doc "A group's name"}]

                       :owner [{:type :ref
                                :ref {:ns :bookkeeping.user}
                                :doc "The groups's owner"}]

                       :users [{:type :ref
                                :ref {:ns :bookkeeping.user}
                                :cardinality :many
                                :doc "The users belonging to this group"}]

                       :defaultCurrency [{:type :ref
                                          :ref {:ns :bookkeeping.currency}
                                          :doc "The groups's default currency"}]

                       :bookkeeping [{:type :ref
                                      :ref {:ns :bookkeeping.group.books}
                                      :cardinality :many
                                      :isComponent true
                                      :doc "The set of books belonging to this group"}]

                       ;; bookkeeping
                       :books {:id [{:type :uuid
                                     :unique :value
                                     :required true
                                     :doc "System ID for a set of books"}]

                               :accounts [{:type :ref
                                           :ref {:ns :bookkeeping.group.books.account}
                                           :cardinality :many
                                           :doc
                                           "Refencing the set of accounts belonging to this bookkeeping"}]

                               :journals [{:type :ref
                                           :ref {:ns :bookkeeping.group.books.journal}
                                           :cardinality :many
                                           :doc
                                           "Referencing the set of journals belonging to this bookkeeping"}]

                               ;; accounts
                               :account {:id [{:type :uuid
                                               :unique :value
                                               :required :true
                                               :doc "System ID for one book's, list of accounts"}]

                                         :name [{:doc "Display name for this Account"}]

                                         :type [{:type :ref
                                                 :ref {:ns :bookkeeping.accountType}}]

                                         :counterWeight [{:type :ref
                                                          :ref {:ns :bookkeeping.counterWeight}}]}

                               ;; journals
                               :journal {:id [{:type :uuid
                                               :unique :value
                                               :required :true
                                               :doc "System ID for a set of book's journal"}]

                                         :name [{:doc "Display name for this Journal"}]

                                         :entries [{:type :ref
                                                    :ref :bookkeeping.group.books.journal.entry
                                                    :cardinality :many
                                                    :isComponent true
                                                    :doc "Pointer to a list of journal entires"}]}

                               }
                       }
               }
 }
