%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
  
  %body
    %article 
      %header 
        %h3 Account
      
      .account_container
        .account_content
          %div 
            %label Name
            %input{ :type => "text", :id => "account-name" }
          %div 
            %label Category
            %select{ :id => "account-type" }
              %option{ :value => "asset"} asset
              %option{ :value => "liability" } liability
              %option{ :value => "revenue" } revenue
              %option{ :value => "expense"  } expense
          %div 
            %label Type
            %select{ :id => "account-counterWeight" }
              %option{ :value => "debit" } debit
              %option{ :value => "credit" } credit
          %div
            %input{ :id => "account-ok", :type => "button" , :value => "Save" }
            %input{ :id => "account-cancel", :type => "button" , :value => "Cancel" }

