%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "/js/pureentry.js" }
  
  %body
    %article 
      %header 
        %h3 Entry
        %div
          %label.entry-label Name
          %input#entry-name( type="text" )
        %div
          %label.entry-label Date
          %input#entry-date( type="text" )
        %div
          %label.entry-label Currency
          %select#entry-currency
      
      .entry_container
        .entry_content
          %table 
            %thead 
              %tr 
                %th 
                %th account 
                %th amount 
                %th 
                %th account 
                %th amount 
                %th 
            %tbody
              %tr
                %td
                  %a.editentrypart{ :href => "#" } edit 
                %td{ :class => "debitAccount" }  Debit Account
                %td{ :class => "debitAmount" }  Debit Amount 
                %td &nbsp;
                %td{ :class => "creditAccount" }  Credit Account
                %td{ :class => "creditAmount" }  Credit Amount 
                %td 
                  %a.deleteentrypart{ :href => "#" } delete 

            %tfoot 
              %tr 
                %td 
                  %button{ :id => "entrypart-add" }
                    Add
                %td 
                %td 
                %td 
                %td 
                %td 
                  %button{ :id => "entry-ok" }
                    Save
                %td 
                  %button{ :id => "entry-cancel" }
                    Cancel


