%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "/js/pureentry.js" }
  
  %body
    %article 
      %header 
        %h3 Entry
        %h5
          %label Date
          .entry_date MyDate
      
      .entry_container
        .entry_content
          %table 
            %thead 
              %tr 
                %th 
                %th account 
                %th amount 
                %th 
                %th account 
                %th amount 
                %th 
            %tbody
              %tr
                %td
                  %a.editentrypart{ :href => "#" } edit 
                %td{ :class => "debitAccount" }  Debit Account
                %td{ :class => "debitAmount" }  Debit Amount 
                %td &nbsp;
                %td{ :class => "creditAccount" }  Credit Account
                %td{ :class => "creditAmount" }  Credit Amount 
                %td 
                  %a.deleteentrypart{ :href => "#" } delete 

            %tfoot 
              %tr 
                %td 
                  %input{ :id => "entry-ok", :type => "button" , :value => "Save" }
                %td 
                  %input{ :id => "entry-cancel", :type => "button" , :value => "Cancel" }
                %td 
                %td 
                %td 
                %td 
                %td 
                  %input{ :id => "entrypart-add", :type => "button" , :value => "Add" }


