%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "/js/pureerrors.js" }
    :javascript 
      $(document).ready(function() {
        $(".errors_container").render(pd, directive);
      });
  
  %body
    %article 
      %header 
        %h3 Errors

      .errors_container
        .error_content
          .error
        %input{ :type => "button" , :value => "ok" }

