%html{ :lang => "en" }
  %head

    %title Bkeeping.com: Simple Online Bookkeeping
    %link( type="text/css" href="css/common.css" rel="stylesheet" )
    %link( type="text/css" href="css/index.css" rel="stylesheet" )
    
    %script( src="/js/lib/jquery-1.6.3.js" )
    %script( src= "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" )
    %script( src= "https://ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js" )
    %script( src= 'https://ajax.googleapis.com/jsapi' )
    :javascript
      //google.load("identitytoolkit", "1.0", { packages: ["ac"] });
      google.load("identitytoolkit", "1", {packages: ["ac"], language:"en"});
    
    %script( src="/js/lib/json2.js" )
    %script( src="/js/lib/underscore.js" )
    %script( src="/js/lib/backbone.js" )
    %script( src="js/bkeeping.js" type="text/javascript" )
    :javascript
      $(document).ready(function() {
        
        /*********
         * Some internal code is giving the body a margin - can't figure out what it is
         *********/
        $('body').css('margin', '0px'); 
        
        
        /*********
         * GITkit Account Chooser code
         *********/
        window.google.identitytoolkit.setConfig({
          developerKey: "AIzaSyDc7_lGZsmbtdOUpprPClKBOxXCQ6LztRE",
          companyName: "Interrupt Software Inc.",
          callbackUrl: "http://<to-be-generated>/callbackGitkit",
          realm: "", 
          userStatusUrl: "/userStatusUrl",
          loginUrl: "/loginUrl",
          signupUrl: "/register",
          homeUrl: "/landing",
          logoutUrl: "/logout",
          idps: ["Gmail", "Yahoo", "AOL"],
          tryFederatedFirst: true,
          useCachedUserStatus: false
        });
         
        $('#account-chooser').accountChooser();
        
        
        /********* 
         * load the footer file
         *********/
        $('#footer').load('/include/footerPart.html');
        
      });
   
  %body
    .container
      #header
        #title-wrapper
          #title
            bkeeping
          #subtitle 
            #subtitle-default Your solution to simple &nbsp;
            #subtitle-black online bookkeeping 
          #account-chooser

        
      #main-content 
        .signup
          %p.signuptitle Not a member yet?
          %p It takes less than 5 minutes to sign up.
          %p Fast, easy to use bookkeeping.
          %p The best way to manage your bookkeeping needs.
          %p.signup-wrapper
            %asignup-anchor( href="register" )
              %button.buttons SIGN UP
        
        .fastandeasy
          The 
          %span.huge fastest
          and 
          %span.huge easiest
          %br
          %p.pushright way to
          manage your bookkeeping.
        
      #modal_screen.modal.screen
        &nbsp;
  	
    #footer

