%html( lang="en" ) 
  
  %head
    %meta( charset="utf-8" )
    
    %script( src="/js/lib/jquery-1.6.3.js" )
    %script( src="/js/lib/jquery-ui-1.8.16.custom.min.js" )
    %link( href="/css/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" )
  
    %script( src="/js/lib/json2.js" )
    %script( src="/js/lib/underscore.js" )
    %script( src="/js/lib/backbone.js" )
    
    %link( href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" )
    //%link( href="/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" )
    %script( src="/js/lib/bootstrap.js" )
    
    %link( href="/css/landing.css" media="screen" rel="stylesheet" type="text/css" )
  
  .container-fluid
    .row-fluid.row
      .span3
        .sidebar-nav-fixed
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis laoreet tincidunt. Ut erat mi, sollicitudin id egestas sit amet, fringilla nec tellus. Aenean iaculis dignissim turpis id mattis. Nunc lacus tellus, vehicula in porttitor id, condimentum vitae enim. Nulla tortor nibh, gravida vel vulputate dictum, tincidunt et ante. Curabitur semper sodales bibendum. Proin eget ligula vitae odio laoreet tincidunt ac in diam. Vivamus at porta diam. Nunc et augue quis arcu dapibus pulvinar.

          Fusce volutpat pharetra eros a tempus. Nam commodo elementum auctor. Proin eget libero non nisi lacinia condimentum eu vitae diam. Sed in orci quis nisl molestie iaculis. Quisque posuere dui sit amet risus euismod et pharetra neque mattis. Aliquam erat volutpat. Proin viverra, mauris ut eleifend scelerisque, odio sapien consectetur ligula, quis facilisis est odio at libero. Nunc sed mauris vel massa tristique fringilla.

          Vivamus accumsan, tortor nec pulvinar condimentum, purus ligula egestas ligula, ut vestibulum lacus ipsum dapibus ligula. Cras euismod egestas nulla, non volutpat massa laoreet ut. Sed nisi nunc, volutpat ac laoreet eget, mattis ut tortor. Proin in augue quis magna consequat mattis. Curabitur mattis viverra turpis, a imperdiet odio tempus sit amet. Nam sit amet leo ac ligula vulputate volutpat. Nulla mauris metus, mattis et tincidunt non, sollicitudin nec felis. Duis sit amet libero turpis. Fusce tincidunt congue blandit. Donec a leo quis enim suscipit dapibus a sit amet eros. Vestibulum nec tristique mi. Quisque at ante arcu. Cras ac dolor odio, quis placerat quam. Maecenas et magna dolor, vel porta magna. Nunc urna lorem, pharetra id placerat nec, porttitor aliquam libero. Nullam nulla est, aliquam ut molestie in, tristique vitae leo.
          
    .span-fixed-sidebar
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis laoreet tincidunt. Ut erat mi, sollicitudin id egestas sit amet, fringilla nec tellus. Aenean iaculis dignissim turpis id mattis. Nunc lacus tellus, vehicula in porttitor id, condimentum vitae enim. Nulla tortor nibh, gravida vel vulputate dictum, tincidunt et ante. Curabitur semper sodales bibendum. Proin eget ligula vitae odio laoreet tincidunt ac in diam. Vivamus at porta diam. Nunc et augue quis arcu dapibus pulvinar.

      Fusce volutpat pharetra eros a tempus. Nam commodo elementum auctor. Proin eget libero non nisi lacinia condimentum eu vitae diam. Sed in orci quis nisl molestie iaculis. Quisque posuere dui sit amet risus euismod et pharetra neque mattis. Aliquam erat volutpat. Proin viverra, mauris ut eleifend scelerisque, odio sapien consectetur ligula, quis facilisis est odio at libero. Nunc sed mauris vel massa tristique fringilla.

      Vivamus accumsan, tortor nec pulvinar condimentum, purus ligula egestas ligula, ut vestibulum lacus ipsum dapibus ligula. Cras euismod egestas nulla, non volutpat massa laoreet ut. Sed nisi nunc, volutpat ac laoreet eget, mattis ut tortor. Proin in augue quis magna consequat mattis. Curabitur mattis viverra turpis, a imperdiet odio tempus sit amet. Nam sit amet leo ac ligula vulputate volutpat. Nulla mauris metus, mattis et tincidunt non, sollicitudin nec felis. Duis sit amet libero turpis. Fusce tincidunt congue blandit. Donec a leo quis enim suscipit dapibus a sit amet eros. Vestibulum nec tristique mi. Quisque at ante arcu. Cras ac dolor odio, quis placerat quam. Maecenas et magna dolor, vel porta magna. Nunc urna lorem, pharetra id placerat nec, porttitor aliquam libero. Nullam nulla est, aliquam ut molestie in, tristique vitae leo.

