%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
    //%link{ :href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    /[if IE]
      %link{ :href => "/css/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/common.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/landing.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    
    %script( src="/js/lib/require.js" data-main="js/bkeeping/landing" )
    /%script( src="/js/lib/require.js" data-main="test/run_tests" )
    
    %script( src="/js/lib/jquery-1.6.3.js" )
    %script( src="/js/lib/jquery.easing.1.3.js" )
    
    %script( src="/js/lib/pure.js" )
    %script( src="/js/lib/jquery.dataTables.js" )
    %script( src="/js/lib/jquery.serialScroll.js" )
    %script( src="/js/lib/jquery.scrollTo.js" )
    
    %script( src="/js/lib/json2.js" )
    %script( src="/js/lib/underscore.js" )
    %script( src="/js/lib/backbone.js" )
    %script( src="/js/lib/md5.js" )
    %script( src="/js/lib/state-machine.min.js" )
    :javascript
      $(document).ready(function() { 
        
        //$.getScript('/js/bkeeping/landing.js');
      })
   
  %body 
    .container
      #header 
        #title-wrapper
          #title
            bkeeping
          #subtitle 
            #subtitle-default Your solution to simple &nbsp;
            #subtitle-black online bookkeeping 
      
      #main-content 
        #left-col
          #left-wrapper 
            #left-content
              #accounts
              #account
          #left-toggler
        #right-col.debug
          #right-wrapper
            #right-content
              #entries
              #entry
              #entry-part
    #footer 
      Footer

