%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
    %title Bkeeping.com: Simple Online Bookkeeping
    
    / Chromeframe plugin
    %meta( http-equiv="X-UA-Compatible" content="chrome=1")

    //%link{ :href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    /[if IE]
      %link{ :href => "/css/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    
    %script( src="/js/lib/jquery-1.7.2.min.js" )
    %script( src="/js/lib/jquery-ui-1.8.16.custom.min.js" )
    %link{ :href => "/css/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    
    / custom scrollbars
    %link{ :href => "/css/scrollbars.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    
    %script( src="/js/lib/jquery.easing.1.3.js" )
    
    %script( src="/js/lib/pure.js" )
    %script( src="/js/lib/jquery.dataTables.js" )
    %script( src="/js/lib/jquery.serialScroll.js" )
    %script( src="/js/lib/jquery.scrollTo.js" )
    /%script( src="/js/lib/enscroll-0.2.4.min.js" )
    
    /%link{ :href => "/css/bootstrap.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    /%link{ :href => "/css/bootstrap-responsive.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    /%script( src="/js/lib/bootstrap.js" )
    
    /%script( src="/js/lib/require.js" data-main="test/run_tests" )
    
    %script( src="/js/lib/json2.js" )
    %script( src="/js/lib/underscore.js" )
    %script( src="/js/lib/backbone.js" )
    %script( src="/js/lib/md5.js" )
    %script( src="/js/lib/state-machine.js" )
    %script( src="/js/lib/bootstrap.js" )
    %script( src="/js/lib/bootstrap-modal.js" )
    
    %link{ :href => "/css/datepicker.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %script( src="/js/lib/bootstrap-datepicker.js" )
    
    %link{ :href => "/css/common.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/landing.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %script( src="/js/lib/require.js" data-main="js/bkeeping/landing" )
    
    :javascript
      $(document).ready(function() { 
        
        /*** 
         * a GLOBAL namespace
         */
        global = {}; 
        global.CURRENT_ENTRY_PANE = "#entries";
        global.timerEntry = -1;
        
        /***
         * Adjust Entry panes based on right width
         ***/
        adjustEntryPanes = function() { 
          
          $('#entries, #entry, #entry-part')
            .css('width', ( $('#right-wrapper').width() - $('#left-col').width() ) + "px");
          
          var rightWidth = $(".bkell-container").width() - $("#left-col").width();
          $("#right-col").css("width", rightWidth);
        };
        
        
        var scrollFn = function() { 
          $('#right-wrapper').scrollTo($(global.CURRENT_ENTRY_PANE), 500, { axis:'x' });
        }
        
        /*** 
         * Bootstrap pane sizes
         ***/
        $(window).resize(function() { 
          
          //console.log("resizing window > args ["+ arguments +"]")
          adjustEntryPanes(); 
          
          clearTimeout(global.timerEntry);
          global.timerEntry = setTimeout(scrollFn, 500);
          
        });
        
        adjustEntryPanes();

        $("#logout-button").click(function() {
          
          window.location = "/logout";
        });
        
      })
   
  %body 
    #delete-confirm.modal.fade
      .modal-body
        Modal Message
      .modal-footer
        %button.btn.btn-primary#modal-delete-ok
          Ok
        %button.btn#modal-delete-cancel
          cancel
    .bkell-container
      #header 
        #title-wrapper
          #title
            bkeeping
          #subtitle 
            #subtitle-default Your solution to simple &nbsp;
            #subtitle-black online bookkeeping 
          #logout-button.btn.btn-inverse.btn-large
            Logout
      
      #main-content 
        #left-col
          #left-wrapper 
            #left-content
              #accounts
              #account
          /#left-toggler
        #right-col
          #right-wrapper
            #right-content
              #entries
              #entry
              #entry-part
    #footer 
      Footer
    
