%html{ :lang => "en" }
  %head
    %link( type="text/css" href="css/site.css" rel="stylesheet" )
    %link( type="text/css" href="css/main.css" rel="stylesheet" )
    
    /%script( type="text/javascript" src="javascript/jquery-1.3.2.js" )
    /%script( type="text/javascript" src="javascript/jquery-ui-1.7.2.custom.min.js" )
    %script{ :src => "/js/jquery-1.6.3.js" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js" }
    %script{ :src => 'https://ajax.googleapis.com/jsapi' }
    :javascript
      google.load("identitytoolkit", "1.0", { packages: ["ac"] });
    
    
    %script( type="text/javascript" src="javascript/bkeeping.js" )
    
    
    /fancybox stuff
    %script( type="text/javascript" src="fancybox/jquery.fancybox-1.3.1.pack.js" )
    %script( type="text/javascript" src="fancybox/jquery.easing-1.3.pack.js" )
    %script( type="text/javascript" src="fancybox/jquery.mousewheel-3.0.2.pack.js" )
    
    %link( rel="stylesheet" href="fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" )
    :javascript
      $(document).ready(function() {
        
        /*********
         * GITkit Account Chooser code
         *********/
        window.google.identitytoolkit.setConfig({
          developerKey: "your dev api key goes here",
          companyName: "Interrupt Software Inc.",
          callbackUrl: "https://bkeeping.com/accountchooser-callbackurl", 
          userStatusUrl: "/userStatus",           // these can just be partial paths
          loginUrl: "/login",
          signupUrl: "/register",
          homeUrl: "/landing",
          logoutUrl: "/logout",
          realm: "",                            // optional
          language: "en",
          idps: ["Gmail", "AOL", "Hotmail", "Yahoo"],
          tryFederatedFirst: true,
          useCachedUserStatus: false
        });
         
        $('#account-chooser').accountChooser();


        /*********
         * 
         *********/
      	$("a#bs1").fancybox({
      		
      		'hideOnContentClick': true, 
      		'autoDimensions': true, 
      		'titlePosition'	:	'over',
      		'onComplete'	:	function() {
      			$("#fancybox-wrap").hover(function() {
      				$("#fancybox-title").show();
      			}, function() {
      				$("#fancybox-title").hide();
      			});
      		}
      		
      	});
      	
      	$("a#bs3").fancybox({
      		'hideOnContentClick': true, 
      		'autoDimensions': true, 
      		'titlePosition'	:	'over',
      		'onComplete'	:	function() {
      			$("#fancybox-wrap").hover(function() {
      				$("#fancybox-title").show();
      			}, function() {
      				$("#fancybox-title").hide();
      			});
      		}
      		
      	});
      	
      	$("a#bs4").fancybox({
      		'hideOnContentClick': true, 
      		'autoDimensions': true, 
      		'titlePosition'	:	'over',
      		'onComplete'	:	function() {
      			$("#fancybox-wrap").hover(function() {
      				$("#fancybox-title").show();
      			}, function() {
      				$("#fancybox-title").hide();
      			});
      		}
      		
      	});
      	
      });
   
  %body
    .header
  	
    #loading-msg( style=" display: block; color: #113366; padding: 2px; width: 60px; background-color: #C0C0C0; text-align: center; left: -100; " )
      Loading...
	
    .content
      #title.title( style=" position:relative; top:15px; left:30px; width:70%; height: 35px;" )
        bkeeping
        .subheader 
          Your solution to simple 
          %div( style="color:#000000" ) online bookkeeping 
        #account-chooser	
      
      .signup( style="color: #686868" )
        %p.signuptitle Not a member yet?
        %p It takes less than 5 minutes to sign up.
        %p Fast, easy to use bookkeeping.
        %p The best way to manage your bookkeeping needs.
        %p( style="margin-top: 20px;" )
          %a( href="register" style="text-decoration: none;" )
            %button.buttons( style="font-size: 13.2px;" ) SIGN UP
      
      .fastandeasy
        The 
        %span.huge fastest
        and 
        %span.huge easiest
        %br
        %p.pushright way to
        manage your bookkeeping.
      
      #screenshots( style="float:left; margin-top: 60px;" )
      	
        %a#bs1( href="images/bkeeping_screenshot_1.png" )
          %img( src="images/bkeeping_screenshot_1.png" style="height: 24%; width: 12%; float:left; border: 0px;" alt="Landing Screen with Accounts & Journals" )
        %a#bs3( href="images/bkeeping_screenshot_3.png" )
          %img( src="images/bkeeping_screenshot_3.png" style="height: 24%; width: 12%; float:left; border: 0px;" alt="Listing out both sides of an Entry" )
        %a#bs4( href="images/bkeeping_screenshot_4.png" )
          %img( src="images/bkeeping_screenshot_4.png" style="height: 24%; width: 12%; float:left; border: 0px;" alt="Editing one side of an Entry" )
	
    #modal_screen.modal.screen
      &nbsp;
	
    .footer
      %p.legal 
        2008-2009 bkeeping Software, Inc. | All Rights Reserved

