%html{ :lang => "en" }
  %head
    
    %link( type="text/css" href="css/common.css" rel="stylesheet" )
    %link( type="text/css" href="css/index.css" rel="stylesheet" )
    
    %script{ :src => "/js/jquery-1.6.3.js" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js" }
    %script{ :src => 'https://ajax.googleapis.com/jsapi' }
    :javascript
      google.load("identitytoolkit", "1.0", { packages: ["ac"] });
    
    %script( type="text/javascript" src="javascript/bkeeping.js" )
    :javascript
      $(document).ready(function() {
        
        /*********
         * Some internal code is giving the body a margin - can't figure out what it is
         *********/
        $('body').css('margin', '0px'); 
        

        /*********
         * GITkit Account Chooser code
         *********/
        window.google.identitytoolkit.setConfig({
          developerKey: "your dev api key goes here",
          companyName: "Interrupt Software Inc.",
          callbackUrl: "https://bkeeping.com/accountchooser-callbackurl", 
          userStatusUrl: "/userStatus",           // these can just be partial paths
          loginUrl: "/login",
          signupUrl: "/register",
          homeUrl: "/landing",
          logoutUrl: "/logout",
          realm: "",                            // optional
          language: "en",
          idps: ["Gmail", "AOL", "Hotmail", "Yahoo"],
          tryFederatedFirst: true,
          useCachedUserStatus: false
        });
         
        $('#account-chooser').accountChooser();

      });
   
  %body
    .container
      #header
        #title-wrapper
          #title
            bkeeping
          #subtitle 
            #subtitle-default Your solution to simple &nbsp;
            #subtitle-black online bookkeeping 
          #account-chooser	
        
      #main-content 
        .signup
          %p.signuptitle Not a member yet?
          %p It takes less than 5 minutes to sign up.
          %p Fast, easy to use bookkeeping.
          %p The best way to manage your bookkeeping needs.
          %p.signup-wrapper
            %asignup-anchor( href="register" )
              %button.buttons SIGN UP
        
        .fastandeasy
          The 
          %span.huge fastest
          and 
          %span.huge easiest
          %br
          %p.pushright way to
          manage your bookkeeping.
        
      #modal_screen.modal.screen
        &nbsp;
  	
      #footer
        %p.legal 
          2008-2009 bkeeping Software, Inc. | All Rights Reserved

