%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
    //%link{ :href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    /[if IE]
      %link{ :href => "/css/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/landing.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    
    %script{ :src => "/js/jquery-1.6.3.js" }
    %script{ :src => "/js/jquery.easing.1.3.js" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js" }
    %script{ :src => 'https://ajax.googleapis.com/jsapi' }
    :javascript
      google.load("identitytoolkit", "1.0", { packages: ["ac"] });
    
    
    %script{ :src => "/js/pure.js" }
    %script{ :src => "/js/jquery.dataTables.js" }
    %script{ :src => "/js/jquery.serialScroll.js" }
    %script{ :src => "/js/jquery.scrollTo.js" }
    
    %script{ :src => "/js/json2.js" }
    %script{ :src => "/js/underscore.js" }
    %script{ :src => "/js/backbone.js" }
    %script{ :src => "/js/md5.js" }
    
    %script{ :src => "/js/bkeeping.js" }
    %script{ :src => "/js/bkeeping/domain.js" }
    %script{ :src => "/js/pureaccounts.js" }
    %script{ :src => "/js/pureentries.js" }
    :javascript
      $(document).ready(function() { 
        
        
        window.google.identitytoolkit.setConfig({
          developerKey: "your dev api key goes here",
          companyName: "Interrupt Software Inc.",
          callbackUrl: "https://bkeeping.com/accountchooser-callbackurl", 
          userStatusUrl: "/userStatus",           // these can just be partial paths
          loginUrl: "/login",
          signupUrl: "/register",
          homeUrl: "/landing",
          logoutUrl: "/logout",
          realm: "",                            // optional
          language: "en",
          idps: ["Gmail", "AOL", "Hotmail", "Yahoo"],
          tryFederatedFirst: true,
          useCachedUserStatus: false
        });
         
        $('#chooser').accountChooser();
        
        /*********
         * GLOBAL Vars 
         *********/
        LEFT_WIDTH = 0 
        LEFT_COLUMN_WIDTH = 0 
        
        
        /*********
         * Animation for left column 
         *********/
        var easeOUT = function() {
          
          $('#left-col')
            .animate(
              { left: ('-=' + $('#left-content').css('width')), }, 
              { duration: 500, 
                easing: 'easeInOutSine', 
                complete: function() {
                  
                  /*** 
                   * make sure the toggler button is still visible 
                   ***/
                  $('#left-content').css('display','none');
                  $('#left-col').css('width', $('#left-toggler').css('width'));
                  $('#left-toggler').css('left', LEFT_WIDTH)
                  
                },
              });
        };
        var easeIN = function() {     
          
          $('#left-content').css('display','block');
          $('#left-col').css('width', LEFT_COLUMN_WIDTH);
          $('#left-toggler').css('left', 0)
          
          $('#left-col')
            .css('width','auto')
            .animate({ left: ('+=' + $('#left-content').css('width')), }, 
              { duration: 500, 
                easing: 'easeInOutSine', 
              });
        };
        
        
        /*********
         * Set the animation functions 
         *********/
        $("#left-toggler").toggle( easeOUT, easeIN );
        
        
        /********* 
         * Initialize Objects & Project 
         *********/ 
        bkeeping.ACCOUNTS = new bkeeping.models.Accounts(); 
        bkeeping.ENTRIES = new bkeeping.models.Entries(); 
        
        bkeeping.ACCOUNTS.reset(accountsData.puredata);
        bkeeping.ENTRIES.reset(entryData.pureentries);
        
        bkeeping.ROUTER = new bkeeping.router.BkeepingRouter();
        Backbone.history.start({ pushState: true, });
        
        
        /********* 
         * loading accounts and entries 
         *********/
        
        $("#accounts").load("/include/accounts.html", function() { 
          
          LEFT_WIDTH = $('#left-content').css('width'); 
          LEFT_COLUMN_WIDTH = $('#left-col').css('width'); 
          
          // INITIAL render of Accounts (elements need to exist before View can bind to them); View will have the same call
          $(this)
            .render(accountsData, accountsDirective)
            .find('table')
            .dataTable();
          
          
          // capturing account edit clicks 
          bkeeping.ACCOUNTS_VIEW = new bkeeping.views.AccountsView({ el: $('#accounts-pane') });
          
          $('#account').load('/include/account.html', function() { 
            
            // Basic usage 
            //$('#left-col').scrollTo($('#account'), 500, {axis:'x'});

            // Working horizontal / serial scrolling 
            $('#left-col').serialScroll({ target: $('#left-col'), items: $('#accounts , #account'), duration: 500, });
            
            // Using this to toggle between views 
            // $('#left-col').trigger('next');

          });
        });
        
        
        
        $('#right-col').load('/include/entries.html', function() { 
          
          $(this)
            .render(entryData, entryDirective)
            .find('table')
            .dataTable();
          
          // capturing entry edit clicks 
          $('a.editentry').click(function(evt) { 
            
            bkeeping.ROUTER.navigate($(this).attr('href'), true);
            return false;   // ensures that the browser window does not go to this URL... yet
          });
        });
        
      
      /*
      $('#accounts')
        .css('width','275px') 
        .css('height','200px') 
        .css('background-color','red') 
        
      $('#account')
        .css('width','275px') 
        .css('height','200px') 
        .css('background-color','blue') 
      */

      }); 

  %body 
    .container
      .header Header
      #main-content 
        #left-col
          #left-content
            #accounts
            #account
          #left-toggler.debug
        #right-col.debug 
          #right-content
            #entries
            #entry
    .footer 
      Footer
      #chooser

