%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
    //%link{ :href => "/css/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    /[if IE]
      %link{ :href => "/css/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "css/landing.css", :type => "text/css", :media => "screen" }

    %script{ :src => "javascript/jquery-1.6.3.js" }
    %script{ :src => "javascript/pure.js" }
    :javascript
      $(document).ready(function() {
        
        // setting animation for lefet column 
        $(".left-col").click(function() {
          $(".left-col").toggleClass("closed");
        });

        // putting account list in left column 
        $(".left-col").load("/include/accounts.html");
        $(".right-col").load("/include/entries.html");
        
      }); 

  %body 
    .container
      .header Header
      .main-content 
        .left-col.debug Left Panel
        .right-col.debug Right Panel
    .footer Footer

