%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "javascript/jquery-1.6.3.js" }
    %script{ :src => "javascript/pure.js" }
    %script{ :src => "puredata.js" }
    :javascript 
      $(document).ready(function() {
        $(".tab_container").render(pd, directive);
      });
  
  %body
    %article 
      %header 
        %h3 Content Manager 
        %ul
          %li Posts
          %li Comments

      .tab_container
        .tab_content
          .tab1 
            %table 
              %thead 
                %tr 
                  %th 
                  %th Name 
                  %th Type
                  %th Weight 
                  %th 
              %tbody
                %tr
                  %td
                    %input{ :type => "checkbox" } 
                  %td{ :class => "name" }  My Name 
                  %td{ :class => "type" }  My Type 
                  %td{ :class => "weight" }  My Weight 
                  %td 
                    %a{ :href => "#" } thing 

