%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "javascript/jquery-1.6.3.js" }
    %script{ :src => "javascript/pure.js" }
    %script{ :src => "pureentry.js" }
    :javascript 
      $(document).ready(function() {
        $(".entry_container").render(pd, directive);
      });
  
  %body
    %article 
      %header 
        %h3 Account
      
      .account_container
        .account_content
          %div 
            %label Name
            %input{ :type => "text" }
          %div 
            %label Category
            %select
              %option{ :value => "asset"} asset
              %option{ :value => "liability" } liability
              %option{ :value => "revenue" } revenue
              %option{ :value => "expense"  } expense
          %div 
            %label Type
            %select
              %option{ :value => "debit" } debit
              %option{ :value => "credit" } credit
          %div
            %input{ :type => "button" , :value => "ok" }
            %input{ :type => "button" , :value => "cancel" }

