%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
  
  %body
    %article 
      %header 
        %h3 Accounts 
      
      .tab_container
        .tab_content
          %table( id='accounts-table' ) 
            %thead 
              %tr 
                %th 
                %th Name 
                %th Category
                %th Type 
                %th 
            %tbody
              %tr
                %td
                  %a.editaccount{ :href => "#" } edit 
                %td.name  My Name 
                %td.type  My Type 
                %td.weight  My Weight 
                %td
                  %a.delbtn{ :href => "#" } delete 

