%html{ :lang => "en" } 
  
  %head
    %meta( charset='utf-8' )
    %script( type='text/javascript' src='https://ajax.googleapis.com/jsapi' )
    :javascript
      google.load("identitytoolkit", "1.0", {packages: ["notify"]});
    :javascript
      window.google.identitytoolkit.notifyFederatedSuccess({ "email": "name@email.com", "registered": true });
      // use window.google.identitytoolkit.notifyFederatedError(); in case of error

