%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "javascript/jquery-1.6.3.js" }
    %script{ :src => "javascript/pure.js" }
    %script{ :src => "javascript/pureentry.js" }
    :javascript 
      $(document).ready(function() {
        $(".entry_container").render(pd, directive);
      });
  
  %body
    %article 
      %header 
        %h3 Entry
        %h5
          %label Date
          .entry_date MyDate
      
      .entry_container
        .entry_content
          %table 
            %thead 
              %tr 
                %th 
                %th account 
                %th amount 
                %th 
                %th account 
                %th amount 
                %th 
            %tbody
              %tr
                %td
                  %a{ :href => "#" } edit 
                %td{ :class => "debitAccount" }  Debit Account
                %td{ :class => "debitAmount" }  Debit Amount 
                %td &nbsp;
                %td{ :class => "creditAccount" }  Credit Account
                %td{ :class => "creditAmount" }  Credit Amount 
                %td 
                  %a{ :href => "#" } delete 

