%html{ :lang => "en" } 

  %head
    %meta{ :charset => "utf-8" }
  
  %body
    %article 
      %header 
        %h3 Entries
      
      .entries_container
        .entry_content
          %table 
            %thead 
              %tr 
                %th 
                %th Date
                %th Name
                %th Balance
                %th 
            %tbody
              %tr
                %td
                  %a{ :href => "#" } edit 
                %td{ :class => "date" }  My Date
                %td{ :class => "name" }  My Name 
                %td{ :class => "balance" }  My Balance 
                %td 
                  %a{ :href => "#" } delete 

