
%html{ :lang => "en" } 
  
  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => "javascript/jquery-1.6.3.js" }
    %script{ :src => "javascript/pure.js" }
    %script{ :src => "javascript/pureentry.js" }
    :javascript 
      $(document).ready(function() {
        $(".entry_container").render(pd, directive);
      });
  
  %body
    %article 
      %header 
        %h3 Add/Edit Entry
      
      .entryPart_container
        .entryPart_content
          %div 
            %label Amount
            %input{ :type => "text" }
          %div 
            %label Account
            %select
          %div 
            %label Type
            %select
              %option{ :value => "debit" } debit
              %option{ :value => "credit" } credit
          %div
            %input{ :type => "button" , :value => "ok" }
            %input{ :type => "button" , :value => "cancel" }

