[{:bookkeeping
  {:country {:id "a" :name "b"}
   :countries
   #{{ :country/id "CA" :country/name "Canada" }
     { :country/id "US" :country/name "United States" }
     { :country/id "EU" :country/name "Europe" }
     { :country/id "UK" :country/name "United Kingdom" }
     { :country/id "JP" :country/name "Japan" }
     { :country/id "AU" :country/name "Australia" }
     { :country/id "ZA" :country/name "South Africa" }
     { :country/id "CN" :country/name "China" }
     { :country/id "RU" :country/name "Russia" }
     { :country/id "BR" :country/name "Brazil" }
     { :country/id "IN" :country/name "India" }}}}]

(comment
 (def geni-3 {:account {:books     [{:type :ref
                                      :cardinality :many
                                      :ref  {:ns :book}}]}
               :book   {:name       [{:required true
                                      :fulltext true}]
                        :author     [{:fulltext true}]}})

 (def ds (adi/datastore "datomic:mem://example-3" geni-3 true true))

 (adi/insert! ds
              [{:account {:books #{{:name "The Count of Monte Cristo"
                                    :author "Alexander Dumas"}
                                   {:name "Tom Sawyer"
                                    :author "Mark Twain"}
                                   {:name "Les Mis"}}}}])



 (def sz {:bookkeeping {:country     {:id        [{:unique :value
                                                   :required true}]
                                      :name      [{:unique :value
                                                   :required true}]}
                        :countries [{:type :ref
                                     :cardinality :many
                                     :ref {:ns :bookkeeping.country}}]}
          })

 (def dz (adi/datastore "datomic:mem://example-3" sz true true))

 (adi/insert! dz
              [{:bookkeeping {:countries #{{:id "JP" :name "Japan"}
                                           {:id "ZA" :name "South Africa"}}}}]))
