[{:bookkeeping

  {:currencies #{{ :id "CDN" :name "Canadian Dollar" }
                 { :id "USD" :name "United States Dollar" }
                 { :id "EUR" :name "European Euro" }
                 { :id "GBP" :name "Great British Pound" }
                 { :id "YEN" :name "Japanese Yen" }
                 { :id "AUD" :name "Australian Dollar" }
                 { :id "ZAR" :name "South African Rand" }
                 { :id "CNY" :name "Chinese Yuan Renminbi" }
                 { :id "RUB" :name "Russian Ruble" }
                 { :id "BRL" :name "Brazilian Ruble" }
                 { :id "INR" :name "Indian Rupee" }}

   :countries #{{ :id "CA" :name "Canada" }
                { :id "US" :name "United States" }
                { :id "EU" :name "Europe" }
                { :id "UK" :name "United Kingdom" }
                { :id "JP" :name "Japan" }
                { :id "AU" :name "Australia" }
                { :id "ZA" :name "South Africa" }
                { :id "CN" :name "China" }
                { :id "RU" :name "Russia" }
                { :id "BR" :name "Brazil" }
                { :id "IN" :name "India" }}}}]
