html {
  height: 100%;
}

html body {
  flex-direction: column;
  height: 100%;
  display: flex;
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
}

html body header {
  background-color: #EEE;
  height: 60px;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
}

html body header #login-container {
  direction: rtl;
  display: flex;
  flex: 2;
}

html body header #login-container #login-control {
  direction: ltr;
  display: flex;
}

html body .header-container, html body .footer-container {
  padding: 0 20px;
  justify-content: flex-start;
}

html body .header-container .header-main-title, html body .footer-container .header-main-title {
  font-size: xx-large;
}

html body .header-container .header-sub-title, html body .footer-container .header-sub-title {
  color: #999;
  margin: 10px 0 0 20px;
  font-size: medium;
}

html body main {
  flex: 1;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
}

html body main .main-message {
  font-size: large;
  max-width: 50%;
}

html body main .main-message .motto-left, html body main .main-message .motto-right {
  float: left;
}

html body main .main-message .motto-left {
  color: #132abf;
}

html body main .main-message .motto-right {
  color: #007821;
}

html body .center-container {
  -moz-box-align: center;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-align-items: center;
  justify-content: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
}

html body footer {
  height: 30px;
  background-color: black;
  color: white;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
}

html body footer .footer-main-text {
  font-size: small;
}

html body footer .footer-company:link {
  text-decoration: none;
  color: white;
}

html body footer .footer-company:visited {
  text-decoration: none;
  color: white;
}

html body footer .footer-company:hover {
  text-decoration: underline;
  color: white;
}

html body footer .footer-company:active {
  text-decoration: none;
  color: white;
}

html body footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}