
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic");

html{ 
  height : 100%; }

html body{ 
  font-style : italic; 
  font-family : "Gentium Book Basic", serif; 
  display : flex; 
  height : 100%; 
  flex-direction : column; }

html body header{ 
  -webkit-align-self : stretch; 
  -ms-flex-item-align : stretch; 
  align-self : stretch; 
  height : 60px; 
  background-color : #EEE; }

html body header #login-container{ 
  flex : 2; 
  display : flex; 
  direction : rtl; }

html body header #login-container #login-control{ 
  display : flex; 
  direction : ltr; }
html body{ 
  font-style : italic; 
  font-family : "Gentium Book Basic", serif; 
  display : flex; 
  height : 100%; 
  flex-direction : column; }

html body .header-container{ 
  justify-content : flex-start; 
  padding : 0 20px; }
html body .footer-container{ 
  justify-content : flex-start; 
  padding : 0 20px; }

 html body .header-container .header-main-title, html body .footer-container .header-main-title{ 
  font-size : xx-large; }
html body .header-container{ 
  justify-content : flex-start; 
  padding : 0 20px; }
html body .footer-container{ 
  justify-content : flex-start; 
  padding : 0 20px; }

 html body .header-container .header-sub-title, html body .footer-container .header-sub-title{ 
  font-size : medium; 
  margin : 10px 0 0 20px; 
  color : #999; }
html body{ 
  font-style : italic; 
  font-family : "Gentium Book Basic", serif; 
  display : flex; 
  height : 100%; 
  flex-direction : column; }

html body main{ 
  -webkit-align-self : stretch; 
  -ms-flex-item-align : stretch; 
  align-self : stretch; 
  flex : 1; }

html body main .main-message{ 
  max-width : 50%; 
  font-size : large; }

html body main .main-message .motto-left{ 
  float : left; }
html body main .main-message .motto-right{ 
  float : left; }
html body main .main-message{ 
  max-width : 50%; 
  font-size : large; }

html body main .main-message .motto-left{ 
  color : #132abf; }
html body main .main-message{ 
  max-width : 50%; 
  font-size : large; }

html body main .main-message .motto-right{ 
  color : #007821; }
html body{ 
  font-style : italic; 
  font-family : "Gentium Book Basic", serif; 
  display : flex; 
  height : 100%; 
  flex-direction : column; }

html body .center-container{ 
  -webkit-box-align : center; 
  -ms-flex-align : center; 
  display : flex; 
  -webkit-justify-content : center; 
  -webkit-box-pack : center; 
  align-items : center; 
  justify-content : center; 
  -ms-flex-pack : center; 
  -moz-box-align : center; 
  -moz-box-pack : center; 
  -webkit-align-items : center; }
html body{ 
  font-style : italic; 
  font-family : "Gentium Book Basic", serif; 
  display : flex; 
  height : 100%; 
  flex-direction : column; }

html body footer-container{ 
  justify-content : flex-start; 
  align-items : center; 
  display : flex; }