
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html { height: 100%; }
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    display: flex;
    height: 100%;
    flex-direction: column;
}


/*.flex-container {
  border: 1px red solid;
}
.flex-item {
  border: 1px black solid;
}
*/

header {
    /*order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    */
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: 60px;
    background-color: #EEE;
}

main {
    /*order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    */
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    flex: 1;
}

footer {
    /*order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    */
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    color: white;
    background-color: black;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

