html, button, input, select, textarea {
  color: #222;
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  line-height: 1.4;
  font-size: 1em;
}

img {
  vertical-align: middle;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

.ie7, .title {
  padding-top: 20px;
}