
@import compass/css3

+font-face("PalatinoZ", font-files("fonts/ufonts.com_palatino.ttf", "fonts/ufonts.com_palatino.eot"))

@mixin debugM
  border-style: solid
  border-width: 1px 
.debug
  +debugM 

.text-curly
  font-style: italic 
  font-family: Palatino, sans-serif

.text-default
  font: Verdana, Arial, sans-serif

