
@import compass/layout
@import compass/layout/stretching
@import compass/css3/box
@import ceaser-easing
@import grid-coordinates

$header-height : 70px
$footer-height : 150px
@include sticky-footer( $footer-height , ".container-fluid", ".span3", "#footer")

@import utils

html, body
  min-height: 400px 
  min-width: 800px
  height: 100%

.common-wrapper
  float: none
  position: relative
  width: 95%
  margin: 0px auto
  top: 10px

#header
  background-color: #999
  height: $header-height
  z-index: 20
  
  // making sure box shadow shows 
  position: relative
  z-index: 10 

  box-shadow: 0 4px 6px #543

  #title-wrapper 
    @extend .common-wrapper

    #title
      position: relative
      float: left 
      @extend .text-curly 
      font-size: 48
      font-weight: bold
      margin: 0 10
    #subtitle 
      top: 20px
      @extend .text-curly 
      float: left
      margin: 26 10 0 10
      float: left
      #subtitle-default
        float: left
        color: #666666
      #subtitle-black
        float: left
        font-weight: bold
  

    #account-chooser
      float: right
      margin: 10 0 0 0


#footer 
  background-color: #999
  clear: both
  z-index: 10
  height: $footer-height

  .interruptlink
    text-decoration: none
    color: #666
  .interruptlink:hover
    border-bottom: 1px dashed
    color: #000


.bkell-container
  +grid-container
  padding: 0px
  width: 100%
  min-height: 100% 
  margin: 0 auto -150px

#main-content
  +display-box
  +stretch( $offset-top : $header-height, $offset-bottom : $footer-height )
  //background-image: url('/images/paper_2.png')
  background: white

#legal
  @extend .common-wrapper
  @extend .text-curly 
  color: #666666

.widget-email-box
  visibility: hidden


