/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);

html { 

  height: 100%;

  body {
    font-style: italic;
    font-family: "Gentium Book Basic", serif;
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}



/*.flex-container {
  border: 1px red solid;
}
.flex-item {
  border: 1px black solid;
}
*/

header {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: 60px;
    background-color: #EEE;
}

main {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    flex: 1;
}

footer {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    color: white;
    background-color: black;
    height: 30px;
}

.center-container {

  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container , .footer-container {
  justify-content: flex-start;
  padding: 0 20px;
}

.header-main-title {
  font-size: xx-large;
}
.header-sub-title {
  font-size: medium;
  margin: 10px 0 0 20px;
  color: #999;
}

.main-message {
  max-width: 50%;
  font-size: large;
}
.motto-left , .motto-right {
  float: left;
}
.motto-left {
  color: #132abf;
}
.motto-right {
  color: #007821;
}


.footer-main-text {
  font-size: small;
}
.footer-company:link {    /* unvisited link */
  color: white;
  text-decoration: none;
}
.footer-company:visited { /* visited link */
  color: white;
  text-decoration: none;
}
.footer-company:hover {   /* mouse over link */
  color: white;
  text-decoration: underline;
}
.footer-company:active {  /* selected link */
  color: white;
  text-decoration: none;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

