[
 ;; @import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);
 [:at-import {:url "http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic"}]

 [:html {:height "100%"}

  [:body {:font-style "italic"
          :font-family "\"Gentium Book Basic\", serif"
          :display "flex"
          :height "100%"
          :flex-direction "column"}


   ;; Header
   [:header {:-webkit-align-self "stretch"
             :-ms-flex-item-align "stretch"
             :align-self "stretch"
             :height "60px"
             :background-color "#EEE"}

    [:#login-container {:flex "2"
                        :display "flex"
                        :direction "rtl"}
     [:#login-control {:display "flex"
                       :direction "ltr"}]]]

   [:.header-container :.footer-container {:justify-content "flex-start"
                                           :padding "0 20px"}
    [:.header-main-title {:font-size "xx-large"}]
    [:.header-sub-title {:font-size "medium"
                         :margin "10px 0 0 20px"
                         :color "#999"}]]


   ;; Main
   [:main {:-webkit-align-self "stretch"
           :-ms-flex-item-align "stretch"
           :align-self "stretch"
           :flex "1"}
    [:.main-message {:max-width "50%"
                     :font-size "large" }

     [:.motto-left :.motto-right { :float "left" }]
     [:.motto-left { :color "#132abf" }]
     [:.motto-right { :color "#007821" }]]]

   [:.center-container {:-webkit-box-align "center"
                        :-webkit-align-items "center"
                        :-moz-box-align "center"
                        :-ms-flex-align "center"
                        :-webkit-box-pack "center"
                        :-webkit-justify-content "center"
                        :-moz-box-pack "center"
                        :-ms-flex-pack "center"
                        :display "flex"
                        :align-items "center"
                        :justify-content "center"}]

   [:footer-container {:justify-content "flex-start"
                       :align-items "center"
                       :display "flex"}]]]]
