[
 [:at-import {:url "http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic"}]

 [:html {:height "100%"}]

 [:html :button :input :select :textarea {:color "#222"}

  [:body {:font-size "1em"
          :line-height "1.4"
          :font "16px/26px Helvetica, Helvetica Neue, Arial"
          :display "flex"
          :flex-direction "column"
          :align-content "flex-start"
          :justify-content "flex-start"
          :height "100%" }]]

 [:img {:vertical-align "middle"}]
 [:fieldset {:border "0"
             :margin "0"
             :padding "0"}]
 [:textarea {:resize "vertical"}]

 [:.ie7 :.title {:padding-top "20px"}]

 [:.flex-container {;;:display "-webkit-box"
                    ;;:display "-moz-box"
                    ;;:display "-ms-flexbox"
                    ;;:display "-webkit-flex"
                    :display "flex"
                    :flex "1"
                    :align-self "stretch"
                    :flex-wrap "nowrap"
                    :flex-direction "column"

                    :-webkit-box-direction "normal"
                    :-moz-box-direction "normal"
                    :-webkit-box-orient "horizontal"
                    :-moz-box-orient "horizontal"
                    :-webkit-flex-direction "column"
                    :-ms-flex-direction "column"
                    :-webkit-flex-wrap "nowrap"
                    :-ms-flex-wrap "nowrap"
                    :-webkit-box-pack "start"
                    :-moz-box-pack "start"
                    :-webkit-justify-content "flex-start"
                    :-ms-flex-pack "start"
                    :justify-content "flex-start"
                    :-webkit-align-content "flex-start"
                    :-ms-flex-line-pack "start"
                    :align-content "flex-start"
                    :-webkit-box-align "start"
                    :-moz-box-align "start"
                    :-webkit-align-items "flex-start"
                    :-ms-flex-align "start"
                    :align-items "flex-start"

                    :border "1px red solid"}]


 [:.flex-item {:border "1px black solid" }]
 [:.flex-item:nth-child (1) {:-webkit-box-ordinal-group "1"
                             :-moz-box-ordinal-group "1"
                             :-webkit-order "0"
                             :-ms-flex-order "0"
                             :order "0"
                             :-webkit-box-flex "0"
                             :-moz-box-flex "0"
                             :-webkit-flex "0 1 auto"
                             :-ms-flex "0 1 auto"
                             :flex "0 1 auto"
                             :-webkit-align-self "stretch"
                             :-ms-flex-item-align "stretch"
                             :align-self "stretch"}]
 [:.flex-item:nth-child (2) {:-webkit-box-ordinal-group "1"
                             :-moz-box-ordinal-group "1"
                             :-webkit-order "0"
                             :-ms-flex-order "0"
                             :order "0"
                             :-webkit-box-flex "0"
                             :-moz-box-flex "0"
                             :-webkit-flex "0 1 auto"
                             :-ms-flex "0 1 auto"
                             :flex "0 1 auto"
                             :-webkit-align-self "stretch"
                             :-ms-flex-item-align "stretch"
                             :align-self "stretch"}]
 [:.flex-item:nth-child(3) {:-webkit-box-ordinal-group "1"
                             :-moz-box-ordinal-group "1"
                             :-webkit-order "0"
                             :-ms-flex-order "0"
                             :order "0"
                             :-webkit-box-flex "0"
                             :-moz-box-flex "0"
                             :-webkit-flex "0 1 auto"
                             :-ms-flex "0 1 auto"
                             :flex "1 1 auto"
                             :-webkit-align-self "stretch"
                             :-ms-flex-item-align "stretch"
                             :align-self "stretch"}]

 ;;Legacy Firefox implementation treats all flex containers
 ;;as inline-block elements.
 #_[:at-moz-document :url-prefix() {:.flex-container {:width "100%"
                                                    :-moz-box-sizing "border-box"}}]

 [:at-media {:media-queries ["only" "screen" "and" (:min-width "480px")]}
  [:.flex-container {:-webkit-flex-direction "row"
                     :-ms-flex-direction "row"
                     :flex-direction "row"}
   [:.flex-item {:width "100%"}]]]

 [:at-media {:media-queries ["only" "screen" "and" (:min-width "481px")]}
  [:.flex-container
   [:.flex-item:nth-child (1) {:width "400px"}]
   [:.flex-item:nth-child (2) {:width "500px"}]]]

 #_[:at-media {:media-queries ["only" "screen" "and" (:min-width "768px")]}
  [:.flex-container
   [:.flex-item:nth-child (1) {:width "200px"}]
   [:.flex-item:nth-child (2) {:width "300px"}]]]


 #_[:at-media {:media-queries ["only" "screen" "and" (:min-width "1140px")]}
  [:.flex-container
   [:.flex-item:nth-child (1) {:width "200px"}]
   [:.flex-item:nth-child (2) {:width "300px"}]]]


 ;; Helper Classes
[:.ir {:background-color "transparent"
        :border "0"
        :overflow "hidden"
        :*text-indent "-9999px"}]

[:.ir:before {:content ""
               :display "block"
               :width "0"
               :height "150%"}]

[:.hidden {:display "none !important"
            :visibility "hidden"}]

[:.visuallyhidden {:border "0"
                    :clip "rect(0 0 0 0)"
                    :height "1px"
                    :margin "-1px"
                    :overflow "hidden"
                    :padding "0"
                    :position "absolute"
                    :width "1px"}

  [:.visuallyhidden.focusable:active :.visuallyhidden.focusable:focus {:clip "auto"
                                                                       :height "auto"
                                                                       :margin "0"
                                                                       :overflow "visible"
                                                                       :position "static"
                                                                       :width "auto"}]]

[:.invisible {:visibility "hidden"}]

[:.clearfix:before :.clearfix:after {:content " "
                                      :display "table"}]

[:.clearfix:after {:clear "both"}]

[:.clearfix {:*zoom "1"}]]
